@model InforceUrll.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Registration";
}


<h2>Signup</h2>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("PasswordConfirm", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                </div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Signup" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Click here to Login", "Login")
</div>

@* <a asp-action="Login" asp-controller="Account">Login</a> *@
@* *@
@* <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true"> *@
@*     <div class="validation" asp-validation-summary="ModelOnly" /> *@
@*     <div> *@
@*         <div class="form-group"> *@
@*             <label asp-for="Email">Enter Email</label><br /> *@
@*             <input type="text" asp-for="Email" />  *@
@*             <span asp-validation-for="Email" /> *@
@*         </div> *@
@*         <div class="form-group"> *@
@*             <label asp-for="Password">Enter Password</label><br /> *@
@*             <input asp-for="Password" />  *@
@*             <span asp-validation-for="Password" /> *@
@*         </div> *@
@*         <div class="form-group"> *@
@*             <label asp-for="PasswordConfirm">Confirm Password</label><br /> *@
@*             <input asp-for="PasswordConfirm" />  *@
@*             <span asp-validation-for="PasswordConfirm" /> *@
@*         </div> *@
@*         <div class="form-group"> *@
@*             <input type="submit" value="Register" class="btn btn-outline-dark"/> *@
@*         </div> *@
@*     </div> *@
@* </form> *@